<?xml version="1.0"?>
<!--
/**
 * Abhay
 * 
 * PHP version 7
 * 
 * @category  Abhay
 * @package   Abhay_TodayDeal
 * @author    Abhay Agrawal <abhay@gmail.com>
 * @copyright 2022 Copyright © Abhay
 * @license   See COPYING.txt for license details.
 * @link      https://github.com/abhay1198/today-deal
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
    	<add id="Abhay_TodayDeal::todaydeal" 
            title="Today Deal" 
            module="Abhay_TodayDeal" 
            sortOrder="1" 
            parent="Magento_Catalog::catalog_categories" 
            action="todaydeal/todaydeal/index" 
            resource="Abhay_TodayDeal::todaydeal" />
   	</menu>
</config>